.Navbar {
  background-color: lighten(#2185d0, 10);
  a {
    display: inline-block;
    font-size: 18px;
    padding: 20px 10px;
    color: white;
  }

  &__image {
    display: inline-block;
    img {
      height: 30px;
    }
  }

  &__links-right {
    float: right;
    display: inline-block;
  }
}
